<h2 id="title">IsoView</h2>
<ul>
    <li>{{#link-to 'charts'}}Charts{{/link-to}}</li>
    <li>{{#link-to 'googleTrends'}}Google Trends{{/link-to}}</li>
</ul>

<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">
                  <div class="ct-chart ct-golden-section" id="chart2"></div>
            </div>
    </div>


    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">
                <h1>NIKKI</h1>
                <div class="ct-chart ct-golden-section" ></div>
            </div>
    </div>


      {{outlet}}
</div>



<script>

$(function () {
    var options = {
      //width:400,
      //  cell_height: 150,
        vertical_margin: 10,
        resizable: {
            aspectRatio: false,
            autoHide:false
        },
        draggable: {
          iframeFix: true,
          cursorAt: { left: 5 }
        }
    };
    $('.grid-stack').gridstack(options);
});

$(document).ready(function(){

      var chart = $('.ct-chart');

      var toolTip = $('.ct-chart').append('<div class="tooltip"></div>')
        .find('.tooltip')
        .hide();


      chart.on('mouseenter', '.ct-point', function() {
        var point = $(this),
          value = point.attr('ct:value'),
          seriesName = point.parent().attr('ct:series-name');
        toolTip.html(seriesName + '<br>' + value).show();
      });

      chart.on('mouseleave', '.ct-point', function() {
        toolTip.hide();
      });

      chart.on('mousemove', function(event) {
        toolTip.css({
          left: (event.offsetX || event.originalEvent.layerX) - toolTip.width() / 2 - 10,
          top: (event.offsetY || event.originalEvent.layerY) - toolTip.height() - 40
        });
      });


    var nikkiChart = new Chartist.Line('#chart2', {
      labels: [1, 2, 3, 4],
      series: [[10, 2, 8, 3]]
    });


    $( ".grid-stack-item" ).on( "resize", function( event, ui ) {
      console.log("2");
      nikkiChart.update();
    });

    $('.grid-stack-item').on('resizestop', function (event, ui) {
      console.log("3");
      nikkiChart.update();
    });

    $( ".grid-stack" ).on( "resizeStop", function( event, ui ) {
      console.log("4");
      nikkiChart.update();
    });


});




</script>
