<h2 id="title">Welcome to Ember</h2>

<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">
                  <div class="ct-chart ct-golden-section" id="chart2"></div>
            </div>
    </div>



      {{outlet}}
</div>







<script>

$(function () {
    var options = {
      //width:400,
      //  cell_height: 150,
        vertical_margin: 10,
        resizable: {
            aspectRatio: false,
            autoHide:false
        },
        draggable: {
          iframeFix: true,
          cursorAt: { left: 5 }
        }
    };
    $('.grid-stack').gridstack(options);
});

$(document).ready(function(){


    var nikkiChart = new Chartist.Bar('#chart2', {
      labels: [1, 2, 3, 4],
      series: [[10, 2, 8, 3]]
    });


    $( ".grid-stack-item" ).on( "resize", function( event, ui ) {
      console.log("2");
      nikkiChart.update();
    });

    $('.grid-stack-item').on('resizestop', function (event, ui) {
      console.log("3");
      nikkiChart.update();
    });

    $( ".grid-stack" ).on( "resizeStop", function( event, ui ) {
      console.log("4");
      nikkiChart.update();
    });

});


</script>
