
<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <div class="ct-chart ct-golden-section" id="testChart"></div>
        </div>
</div>



<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <h3>Chartbeat Live Concurrent Users</h3>
              <div class="issue-number">{{model}}</div>
        </div>
</div>

<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <h3>Chartbeat Live Concurrent Users Different Model structure</h3>
              <div class="issue-number">{{concurrentUsers}}</div>
        </div>
</div>
